.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
    }
    .active {
        text-decoration: underline;
    }
}

